comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/betclick.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sports">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sport" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="file_date" use="required" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="match">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bets"/>
			</xs:sequence>
			<xs:attribute name="streaming" use="required" type="xs:byte"/>
			<xs:attribute name="start_date" use="required" type="xs:dateTime"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="live_id" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="match" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="choice">
		<xs:complexType>
			<xs:attribute name="odd" use="required" type="xs:decimal"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bet" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="choice" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
			<xs:attribute name="code" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
