comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/betgun.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="subevent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="selection" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="dsymbol" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="selection">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="slipURL" use="required" type="xs:string"/>
			<xs:attribute name="odds" use="required" type="xs:decimal"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subevent" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="time" use="required" type="xs:string"/>
			<xs:attribute name="hometeam" use="required" type="xs:string"/>
			<xs:attribute name="eventName" use="required" type="xs:string"/>
			<xs:attribute name="datetime" use="required" type="xs:dateTime"/>
			<xs:attribute name="date" use="required" type="xs:string"/>
			<xs:attribute name="awayteam" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="betbrain">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="sport" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
