comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/betonline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="visiting_home_draw">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Home"/>
				<xs:enumeration value="Visiting"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="under_adjust">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-110"/>
				<xs:enumeration value="-115"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="total_points">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="181.0"/>
				<xs:enumeration value="44.5"/>
				<xs:enumeration value="45.5"/>
				<xs:enumeration value="89.5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="total">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="total_points"/>
				<xs:element ref="over_adjust"/>
				<xs:element ref="under_adjust"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="spread_visiting">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1.5"/>
				<xs:enumeration value="2.5"/>
				<xs:enumeration value="4.0"/>
				<xs:enumeration value="7.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="spread_home">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-1.5"/>
				<xs:enumeration value="-2.5"/>
				<xs:enumeration value="-4.0"/>
				<xs:enumeration value="-7.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="spread_adjust_visiting">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-110"/>
				<xs:enumeration value="-115"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="spread_adjust_home">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-110"/>
				<xs:enumeration value="-115"/>
				<xs:enumeration value="-120"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="spread">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="spread_visiting"/>
				<xs:element ref="spread_adjust_visiting"/>
				<xs:element ref="spread_home"/>
				<xs:element ref="spread_adjust_home"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sporttype">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Basketball"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="scheduletext">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="null"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rotnum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="527"/>
				<xs:enumeration value="528"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pitcher">
		<xs:complexType/>
	</xs:element>
	<xs:element name="periodcutoff_datetimeGMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2013-06-03 20:40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="period_status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="O"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="period_description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1st Half"/>
				<xs:enumeration value="1st Quarter"/>
				<xs:enumeration value="2nd Quarter"/>
				<xs:enumeration value="3rd Quarter"/>
				<xs:enumeration value="4th Quarter"/>
				<xs:enumeration value="Game"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="period">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="period_description"/>
				<xs:element ref="periodcutoff_datetimeGMT"/>
				<xs:element ref="period_status"/>
				<xs:element ref="spread"/>
				<xs:element ref="total"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="participant_name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Indiana Pacers"/>
				<xs:enumeration value="Miami Heat"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="participant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="participant_name"/>
				<xs:element ref="rotnum"/>
				<xs:element ref="visiting_home_draw"/>
				<xs:element ref="odds"/>
				<xs:element ref="pitcher"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="over_adjust">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-110"/>
				<xs:enumeration value="-115"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="odds">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="moneyline"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="moneyline">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="-360"/>
				<xs:enumeration value="300"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="league">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NBA Basketball"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="event_datetimeGMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2013-06-03 20:30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event_datetimeGMT"/>
				<xs:element ref="sporttype"/>
				<xs:element ref="scheduletext"/>
				<xs:element ref="league"/>
				<xs:element ref="participant" maxOccurs="unbounded"/>
				<xs:element ref="drawrotnum"/>
				<xs:element ref="drawmoneyline"/>
				<xs:element ref="drawTitle"/>
				<xs:element ref="period"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="drawrotnum">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="drawmoneyline">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="drawTitle">
		<xs:complexType/>
	</xs:element>
	<xs:element name="bestlinesports_line_feed">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
