comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/bookmaker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xml">
		<xs:complexType>

			<xs:sequence>
				<xs:element ref="Leagues" maxOccurs="1" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Leagues">
		<xs:complexType>

			<xs:sequence>
				<xs:element ref="league" maxOccurs="unbounded"
					minOccurs="1">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="league">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="banner" maxOccurs="unbounded"
					minOccurs="1">
				</xs:element>
				<xs:element ref="game" maxOccurs="unbounded" minOccurs="1"></xs:element>
			</xs:sequence>
			<xs:attribute name="IdLeague" use="required" type="xs:int" />
			<xs:attribute name="IdSport" use="required" type="xs:string" />
			<xs:attribute name="Description" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="banner">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="vtm" use="required" type="xs:string" />
			<xs:attribute name="htm" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="game">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="line" maxOccurs="unbounded"
					minOccurs="1">
				</xs:element>
			</xs:sequence>
			<xs:attribute name="vtm" use="required" type="xs:string" />
			<xs:attribute name="htm" use="required" type="xs:string" />
			<xs:attribute name="idgm" type="xs:int"></xs:attribute>
			<xs:attribute name="idgmtyp" type="xs:int"></xs:attribute>
			<xs:attribute name="gmtm" type="xs:string"></xs:attribute>
			<xs:attribute name="gmdt" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
		<xs:element name="line">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="hoddst" use="required" type="xs:string" />
			<xs:attribute name="voddst" use="required" type="xs:string" />
			<xs:attribute name="vspoddst" type="xs:string"></xs:attribute>
			<xs:attribute name="hsprdt" type="xs:string"></xs:attribute>
			<xs:attribute name="vsprdt" type="xs:string"></xs:attribute>
			<xs:attribute name="hsprdoddst" type="xs:string"></xs:attribute>
			<xs:attribute name="ovt" type="xs:string"></xs:attribute>
			<xs:attribute name="unt" type="xs:string"></xs:attribute>
			<xs:attribute name="ovoddst" type="xs:string"></xs:attribute>
			<xs:attribute name="unoddst" type="xs:string"></xs:attribute>
			<xs:attribute name="vsprdoddst" type="xs:string"></xs:attribute>
		</xs:complexType>
		</xs:element>
</xs:schema>