comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/expekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="type">
		<xs:complexType>
			<xs:attribute name="id" use="required" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="punter-odds">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="game" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="game">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="type"/>
				<xs:element ref="alternatives"/>
			</xs:sequence>
			<xs:attribute name="time" use="required" type="xs:short"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
			<xs:attribute name="date" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="category"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="category">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="order" use="required" type="xs:short"/>
					<xs:attribute name="id" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="alternatives">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="alternative" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="alternative">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="team" use="required" type="xs:int"/>
					<xs:attribute name="odds" use="required" type="xs:decimal"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
