comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/intertops.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="t">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="l" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="n" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="s">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cat" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="n" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="result">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="params"/>
				<xs:element ref="data"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="params">
		<xs:complexType>
			<xs:attribute name="utc" use="required" type="xs:string"/>
			<xs:attribute name="sportId" use="required" type="xs:string"/>
			<xs:attribute name="matchId" use="required" type="xs:string"/>
			<xs:attribute name="legend" use="required" type="xs:string"/>
			<xs:attribute name="includeFraction" use="required" type="xs:string"/>
			<xs:attribute name="includeCent" use="required" type="xs:string"/>
			<xs:attribute name="deltaUtc" use="required" type="xs:string"/>
			<xs:attribute name="delta" use="required" type="xs:string"/>
			<xs:attribute name="catId" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="m">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="t" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="rot" type="xs:string"/>
			<xs:attribute name="n" use="required" type="xs:string"/>
			<xs:attribute name="mid" type="xs:string"/>
			<xs:attribute name="m" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="dt" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="l">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="p" type="xs:string"/>
					<xs:attribute name="otp" type="xs:string"/>
					<xs:attribute name="o" use="required" type="xs:string"/>
					<xs:attribute name="id" use="required" type="xs:string"/>
					<xs:attribute name="i" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="s" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cat">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="m" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="n" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
