comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/interwetten.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FEED">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KINDOFSPORT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LEAGUE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EVENT" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BET" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="ID" use="optional"/>
                                  <xs:attribute type="xs:int" name="TYPEID" use="optional"/>
                                  <xs:attribute type="xs:string" name="TYPENAME" use="optional"/>
                                  <xs:attribute type="xs:string" name="PLAYER1" use="optional"/>
                                  <xs:attribute type="xs:string" name="PLAYER2" use="optional"/>
                                  <xs:attribute type="xs:string" name="TIP" use="optional"/>
                                  <xs:attribute type="xs:string" name="QUOTE" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="NAME" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="START_TIME" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="OPEN_TILL" use="optional"/>
                        <xs:attribute type="xs:int" name="EVENTID" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="NAME" use="optional"/>
                  <xs:attribute type="xs:int" name="ID" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="NAME"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="NAME"/>
      <xs:attribute type="xs:string" name="DESCRIPTION"/>
      <xs:attribute type="xs:dateTime" name="LAST_REFRESH"/>
      <xs:attribute type="xs:dateTime" name="NEXT_REFRESH"/>
      <xs:attribute type="xs:anyURI" name="DOMAIN"/>
      <xs:attribute type="xs:string" name="LANGUAGE"/>
    </xs:complexType>
  </xs:element>
</xs:schema>