comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/nordicbet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Sport" type="xs:string"/>
	<xs:element name="Season" type="xs:string"/>
	<xs:element name="Region" type="xs:string"/>
	<xs:element name="Participant">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="role" type="xs:string"/>
					<xs:attribute name="info" use="required" type="xs:string"/>
					<xs:attribute name="id" use="required" type="xs:long"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OutcomeSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Outcome" maxOccurs="unbounded"/>
				<xs:element ref="ExternalComment" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Outcome">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element ref="Participant"/>
					<xs:element ref="OptionalValue1" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="OptionalValue1"/>
					<xs:element ref="OptionalValue2"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="odds" use="required" type="xs:decimal"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptionalValue2" type="xs:decimal"/>
	<xs:element name="OptionalValue1" type="xs:decimal"/>
	<xs:element name="Odds">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Game" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LiveBet" type="xs:string"/>
	<xs:element name="GameStartTime" type="xs:string"/>
	<xs:element name="Game">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sport"/>
				<xs:element ref="Region"/>
				<xs:element ref="Season"/>
				<xs:element ref="BreadCrumbs"/>
				<xs:element ref="GameStartTime"/>
				<xs:element ref="BettingEndTime"/>
				<xs:element ref="LiveBet"/>
				<xs:element ref="Participant" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OutcomeSet" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExternalComment" type="xs:string"/>
	<xs:element name="BreadCrumbs" type="xs:string"/>
	<xs:element name="BettingEndTime" type="xs:string"/>
</xs:schema>
