comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/sportingbet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MasterEvents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Event" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="TopLevelName" type="xs:string"/>
			<xs:attribute name="TimeStamp" use="required" type="xs:string"/>
			<xs:attribute name="MasterName" use="required" type="xs:string"/>
			<xs:attribute name="MasterID" use="required" type="xs:int"/>
			<xs:attribute name="MasterEventURL" use="required" type="xs:anyURI"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EventData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MasterEvents" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="EventURL" use="required" type="xs:anyURI"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Competitor" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Venue" use="required" type="xs:string"/>
			<xs:attribute name="LocalTime" use="required" type="xs:string"/>
			<xs:attribute name="LocalDate" use="required" type="xs:string"/>
			<xs:attribute name="ISODate" use="required" type="xs:dateTime"/>
			<xs:attribute name="EventURL" use="required" type="xs:anyURI"/>
			<xs:attribute name="EventType" use="required" type="xs:string"/>
			<xs:attribute name="EventName" use="required" type="xs:string"/>
			<xs:attribute name="EventID" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Competitor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BetType"/>
			</xs:sequence>
			<xs:attribute name="CompetitorName" use="required" type="xs:string"/>
			<xs:attribute name="BetID" use="required" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BetType">
		<xs:complexType>
			<xs:attribute name="Price" use="required" type="xs:decimal"/>
			<xs:attribute name="Points" use="required" type="xs:decimal"/>
			<xs:attribute name="BetTypeName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
