comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/unibet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.unibet.com/sportsbook-odds-feed" xmlns="http://www.unibet.com/sportsbook-odds-feed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pool" maxOccurs="unbounded"/>
				<xs:element ref="country" maxOccurs="unbounded"/>
				<xs:element ref="pool"/>
				<xs:element ref="country"/>
				<xs:element ref="pool" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="main_group_id" use="required" type="xs:int"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="price">
		<xs:complexType>
			<xs:attribute name="updated_date" use="required" type="xs:dateTime"/>
			<xs:attribute name="odds" use="required" type="xs:decimal"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pool">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="main_group_id" use="required" type="xs:int"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="participant">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="outcome">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price"/>
			</xs:sequence>
			<xs:attribute name="updated_date" use="required" type="xs:dateTime"/>
			<xs:attribute name="start_no" type="xs:byte"/>
			<xs:attribute name="participant_name" type="xs:string"/>
			<xs:attribute name="participant_id" type="xs:int"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="is_scratched" type="xs:boolean"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
			<xs:attribute name="handicap_line" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="odds_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sport"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="participant" maxOccurs="unbounded"/>
				<xs:element ref="betOffer" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="updated_date" use="required" type="xs:dateTime"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
			<xs:attribute name="event_start" use="required" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="country">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pool" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="main_group_id" use="required" type="xs:int"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="betOffer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="outcome" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="updated_date" use="required" type="xs:dateTime"/>
			<xs:attribute name="type_name" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required" type="xs:byte"/>
			<xs:attribute name="to_be_placed" type="xs:byte"/>
			<xs:attribute name="is_live" use="required" type="xs:boolean"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
			<xs:attribute name="external_description" type="xs:string"/>
			<xs:attribute name="criterion_id" use="required" type="xs:int"/>
			<xs:attribute name="criteria" use="required" type="xs:string"/>
			<xs:attribute name="bet_closes" use="required" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
