comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/williamhill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="williamhill">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="class"/>
				<xs:element ref="disclaimer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="market" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="url" use="required" type="xs:anyURI"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="lastUpdateTime" use="required" type="xs:time"/>
			<xs:attribute name="lastUpdateDate" use="required" type="xs:date"/>
			<xs:attribute name="id" use="required" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="williamhill"/>
			</xs:sequence>
			<xs:attribute name="request" use="required" type="xs:string"/>
			<xs:attribute name="message" use="required" type="xs:string"/>
			<xs:attribute name="debug" use="required" type="xs:string"/>
			<xs:attribute name="code" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="participant">
		<xs:complexType>
			<xs:attribute name="oddsDecimal" use="required" type="xs:decimal"/>
			<xs:attribute name="odds" use="required" type="xs:string"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="lastUpdateTime" use="required" type="xs:time"/>
			<xs:attribute name="lastUpdateDate" use="required" type="xs:date"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
			<xs:attribute name="handicap" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="oxip">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="response"/>
			</xs:sequence>
			<xs:attribute name="version" use="required" type="xs:decimal"/>
			<xs:attribute name="requestTime" use="required" type="xs:decimal"/>
			<xs:attribute name="lastMsgId" use="required" type="xs:long"/>
			<xs:attribute name="created" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="market">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="participant" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="time" use="required" type="xs:time"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="lastUpdateTime" use="required" type="xs:time"/>
			<xs:attribute name="lastUpdateDate" use="required" type="xs:date"/>
			<xs:attribute name="id" use="required" type="xs:int"/>
			<xs:attribute name="date" use="required" type="xs:date"/>
			<xs:attribute name="betTillTime" use="required" type="xs:time"/>
			<xs:attribute name="betTillDate" use="required" type="xs:date"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="disclaimer" type="xs:string"/>
	<xs:element name="class">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="maxRepTime" use="required" type="xs:time"/>
			<xs:attribute name="maxRepDate" use="required" type="xs:date"/>
			<xs:attribute name="id" use="required" type="xs:short"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
