comparer/comparer.synchro/comparer.synchro.reader.readerbookmaker/comparer.synchro.reader.readerbookmaker.bean/src/main/resources/com/comparadorad/bet/comparer/synchro/reader/readerbookmaker/bean/schema/youwin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="region" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="sportid" use="required" type="xs:decimal"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="selection">
		<xs:complexType>
			<xs:attribute name="selectionid" use="required" type="xs:decimal"/>
			<xs:attribute name="priceup" use="required" type="xs:short"/>
			<xs:attribute name="pricedown" use="required" type="xs:short"/>
			<xs:attribute name="odd" use="required" type="xs:decimal"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="handicap" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="region">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="group" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="regionid" use="required" type="xs:decimal"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="odds">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sport" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="timezone" use="required" type="xs:string"/>
			<xs:attribute name="last_modified" use="required" type="xs:string"/>
			<xs:attribute name="date_format" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="groupid" use="required" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bet" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="eventid" use="required" type="xs:decimal"/>
			<xs:attribute name="betend" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="selection" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="betid" use="required" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
